DATABASE_URL="postgresql://neondb_owner:npg_qAt47nuvSTcC@ep-gentle-rain-b5eeve88-pooler.c-7.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
AUTH_SECRET="Singer8031"
ADMIN_EMAIL="admin@trippleteetravellers.co.ke"
ADMIN_PASSWORD="travellers2026"
R2_ACCOUNT_ID="46f5cc41add7da7381912fe0543e3477"
R2_ACCESS_KEY_ID="78643cee0bfb896b4dba3f7d6f1b5039"
R2_SECRET_ACCESS_KEY="91ee9bdde785c6ec61cb35612a0e64db1871cc71cb986bb0a71a282d0c725b8d"
R2_BUCKET_NAME="tripple-tee-travellers"
R2_PUBLIC_URL="https://pub-16631a061a5f42029b7284e6c8505df5.r2.dev"
NEXT_PUBLIC_SITE_URL="https://www.trippleteetravellers.co.ke"